:root {
    --base-grid: 8px;
    --colour-body-background: ##E0DDDC;
    // --colour-body-background: #8d1332;
    --colour-background: #8d1332;
    --colour-background-folded: #b1193f;
    --strisce: rgba(24, 24, 24, 0.5);
    --colour-black: white;
    // --accent-color:#8d1332;
    --accent-color:#FFC107;
    --color-text:white;
    --secondary-color: #8d1332;
  }

  .text-color-custom{
    color:#8d1332;
   
  }


  .accent-color{
    color: var(--accent-color);
  }

  .background-secondary{
    background-color: var(--secondary-color);
  }
  
  .background-accent{
background-color: var(--accent-color);
  }
  
 *{
    font-family: 'Bitter', serif;
 }
  
  body {
    background: var(--colour-body-background);
    font-family: Bitter;
    padding: 0px;
    margin: 0px;
    
  }

  .vh100{
    height: 100vh;
  }

  /* navbar */
  
  

  #navbar{
    transition: 1s;
  }

  .div_logo{
    z-index: 9999999999999999999999 !important;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 7%;
    left: 50%;

  }

  .logo_navbar{
transition: 1s;


  }
  
  .accent_hover{
    transition: 0.5s;
  }

  .accent_hover:hover{
    color: var(--accent-color)!important ;
    transform: scale(1.1)!important;
  }

  .secondary_hover{
    transition: 0.5s;
  }

  .secondary_hover:hover{
    color: var(--secondary-color)!important ;
    transform: scale(1.1)!important;

  }

/* header */

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-color: black;
  // opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url(/media/video.mp4)  no-repeat center center scroll;
  }
  // header video {
  //   display: none;
  // }
}

// .bg-image{
//     height: 100vh;
//     background: url(/media/header_1.jpg);
//     background-size: cover;
//     background-position: center;
//     filter: blur(2px);
//     position: relative;
    
// }

.title_header{
    background-color:white; /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 24;
    width: 70%;
    padding: 20px;
    text-align: center;
    letter-spacing: 10px;
    color: black;
  }


@media screen and (max-width:512px){
    .title_header{
        letter-spacing: 0px;
        width: 80%;


    }


}


.title_header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    left: -15px;
    border: 2px dashed white;
    background-image: repeating-linear-gradient(
        -24deg,
      transparent,
      transparent 4px,
      white 0,
      white 5px
    );
    z-index: -1;

}


/* header small */


#header_small {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#header_small video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#header_small .container {
  position: relative;
  z-index: 2;
}

#header_small .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-color: black;
  // opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  #header_small {
    background: url(/media/video.mp4)  no-repeat center center scroll;
  }
  // header video {
  //   display: none;
  // }
}

// .bg-image_small{
  
//   height: 50vh;
//   background: url(/media/header.jpg);
//   background-size: cover ;
//   background-position: center;
//   filter: blur(2px);
//   position: relative;
  
// }

.title_header_small{
  background-color:white; /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 24;
  width: 50%;
  padding: 20px;
  text-align: center; 
  letter-spacing: 5px;
  color: black;
  font-size: 10px; 
}


@media screen and (max-width:512px){
  .title_header_small{
      letter-spacing: 0px;
      width: 80%;

  }
  
 
}


.title_header_small::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15px;
  left: -15px;
  border: 2px dashed white;
  background-image: repeating-linear-gradient(
      -24deg,
    transparent,
    transparent 4px,
    white 0,
    white 5px
  );
  z-index: -1;

}


.margin-top-custom{
  margin-top:100px;
}

.margin-top-custom-2{
  margin-top: 150px;
}


  /* card */
  
  .articles__article {
    cursor: pointer;
    display: block;
    position: relative;
    perspective: 1000px;
    animation-name: animateIn;
    animation-duration: 0.35s;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  
  .articles__article:before {
    content: "";
    position: absolute;
    top: calc(var(--base-grid) * -2);
    left: calc(var(--base-grid) * -2);
    border: 2px dashed #8d1332;
    background-image: repeating-linear-gradient(
      -24deg,
      transparent,
      transparent 4px,
     #8d1332 0,
     #8d1332 5px
    );
    z-index: -1;
  }
  
  .articles__article,
  .articles__article:before {
    width: calc(var(--base-grid) * 35);
    height: calc(var(--base-grid) * 35);
  }
  
  .articles__link {
    background-color: var(--colour-body-background);
    border: 2px solid var(--colour-background);
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .articles__link:after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(var(--base-grid) * 3);
    width: calc(var(--base-grid) * 2);
    height: calc(var(--base-grid) * 2);
    margin-top: calc(var(--base-grid) * -1);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
    background-color: var(--colour-background);
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0ms;
  }
  
  .articles__content {
    background-color: var(--colour-background);
    color: var(--colour-black);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(var(--base-grid) * 2);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--colour-background);
  }
  
  .articles__content--lhs {
    clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  }
  
  .articles__content--rhs {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
  }
  
  .articles__title {
    font-size: calc(var(--base-grid) * 4);
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .articles__subtitle {
    font-size: calc(var(--base-grid) * 2);
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: -0.02em;
    padding-top: 20px;
    text-align: right;
  }
  
  .articles__body {
    font-size: calc(var(--base-grid) * 2);
    line-height: 1.125;
    font-weight: 00;
    letter-spacing: -0.02em;
    padding-top: 5px;
    
  }
  
  
  .articles__footer {
    margin-top: auto;
    font-size: calc(var(--base-grid) * 2);
    line-height: calc(var(--base-grid) * 2);
    display: flex;
    justify-content: space-between;
  }
  
  .articles__link:hover .articles__content--rhs {
    background-color: var(--colour-background-folded);
    transform: rotateY(-30deg);
  }
  
  .articles__link:hover:after {
    opacity: 1;
    transform: translateX(calc(var(--base-grid) * 1.5));
    transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0.25s;
  }
  
// show
.show_img {
  max-height: 200px;
  width: 100%; 
  object-fit: cover; 
  object-position: center;
  transition:  2s;
}

.show_img_b{
  max-height: 1000px;
  width: 100%; 
  object-fit: cover; 
  object-position: center;
  transition:   2s;
}

.pointer {
  cursor: pointer;
}




  /* footer  */

  .list-item-footer{
    list-style: none;
}


.footer-blue{
    background-color: var(--accent-color);
    margin-top:-100px;
    height: 400px;
    width: 400px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid white;
}

@media  screen and (max-width:810px) {

    .footer-blue{
      
      margin-top:0px ;
      width: 100%;
    }
      }

      /* \\thankyou */
  .thankyou{
      height: 50vh;
      
  }
